<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RollDise</title>
    <link rel="stylesheet" href="/rolldise.css" />
  </head>
  <body>
    <div class="dice-container">
      <div🎲 class="dice-face" id="dice-face">🎲 </div🎲>
      <!-- <button class="roll-btn">Roll Dice</button> -->
      <h1><%= roll %></h1>
    </div>
  </body>
</html>
