<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
    <link rel="stylesheet" href="/newchat.css" />
    <!-- <style>
      
    </style> -->
  </head>
  <body>
    <div class="form-container">
      <form class="chat-card" method="post" action="/chats">
        <h1>Start a new chat</h1>
        <label for="from">Sender:</label>
        <input type="text" id="from" name="from" required />

        <label for="to">Receiver:</label>
        <input type="text" id="to" name="to" required />

        <label for="msg">Message:</label>
        <textarea id="msg" name="msg" rows="4" required></textarea>

        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
