* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: red;
}

#login {
  background-color: antiquewhite;
  color: blueviolet;
}

#signup {
  background-color: antiquewhite;
  color: blueviolet;
}

div > input {
  /* letter-spacing: 30px; */
  background-color: bisque;
}

nav a {
  color: cadetblue;
}

nav ul li {
  list-style-type: decimal;
  color: chocolate;
}

main {
  background-color: bisque;
}

.follow {
  color: darkmagenta;
  letter-spacing: 2px;
}

input[type="text"] {
  color: blue;
}

input[type="password"] {
  color: blue;
}

main > p {
  line-height: 2;
  font-weight: 900;
  background-color: yellowgreen;
  color: steelblue;
}

h3 {
  letter-spacing: 2px;
  color: brown;
}

.btn1 {
  background-color: #fff;
  color: teal;
}

.btn2 {
  color: blueviolet;
  background-color: cadetblue;
}

header {
  background-color: darkslategrey;
}

.btn1:hover {
  color: bisque;
  background-color: blueviolet;
}

.btn2:hover {
  color: blueviolet;
  background-color: chocolate;
}

li a:active {
  background-color: aquamarine;
}

p a:active {
  background-color: #fff;
  font-style: italic;
}

*::selection {
  background-color: yellow;
  color: crimson;
}
