<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New post</title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <input type="text" name="name" placeholder="enter your name" required />
      <textarea name="title" placeholder="enter your title"></textarea>
      <textarea name="content" placeholder="enter your content"></textarea>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
