<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>full post</title>
    <link rel="stylesheet" href="/show.css" />
  </head>
  <body>
    <div class="show-container">
      <h2 class="show-name"><%= post.name %></h2>
      <h3 class="show-title"><%= post.id %></h3>
      <h3 class="show-title"><%= post.title %></h3>
      <div class="show-content"><%= post.content %></div>
    </div>
  </body>
</html>
