<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>full post</title>
  </head>
  <body>
    <div class="detaied-post">
      <h2 class="post-name"><%= post.name %></h2>
      <h3 class="post-title"><%= post.title %></h3>
      <h3 class="post-title"><%= post.id %></h3>
      <h3 class="post-content"><%= post.content %></h3>
    </div>
  </body>
</html>
